/* body css-properties*/
body {
  background-image: url(https://i.pinimg.com/originals/01/cb/7c/01cb7c4b4efc6b665588ec0041f42a8a.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.navigation {
  background-color: white;
  color: black;
  padding: 10px;
  position: absolute;
  left: 20px;
  
}

h1 {
  background-color: white;
  text-align: center;
  margin: 10px;
  padding: 5px;
  box-shadow: 5px 5px 10px black;
  z-index: 10;
  position: sticky;
  top: 5px;
}
/* search-box css-properties*/
.search-box {
  position: sticky;
  top: 23px;
  margin: 0px 0px 0px 670px;
  z-index: 11;
}

.search{
  background-color: green;
  color: white;
  border: 1px solid white;
  border-radius: 5px;
  padding: 1px
}

.search:hover {
  background-color: blue;
}

.box{
  border: 1px solid green;
  border-radius: 10px;
}

h2{
  color: white;
  background-color: red;
  margin: 10px 700px 20px 10px;
  border: 1px solid white;
  text-align: center;
  position: sticky;
  top: 70px;
  z-index: 9;
}
/* lists of all anime - css-properties*/
ul a:link {
  color: yellow;
}

.h-3 {
  text-decoration: underline;
}
.anime-lists {
  background-color: transparent;
  color: white;
  border: 1px solid white;
  padding: 10px;
  position: absolute;
  left: 735px;
  top: 95px
}

.imgs {
  line-height: 1.5;
  position: relative;
  left: 300px;
}

label {
  color: white;
}
